<% provide :author_active, 'active' %>

<div class="container">
    <h4>Create a new post</h4>
    <%= link_to "New post", new_post_path, class: "btn, btn-read" %>
</div>
<div class="row">
    <%= render @posts %>
</div>

