<% provide :page_title, @post.title %>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2" style="text-align: center">
    <h1><%= @post.title %></h1>
    <p><%= @post.published_at %></p>
    <%= @post.content %>
  </div>
</div>