
.posts.index, .posts.author {
  padding-left: 2rem;
  padding-right: 2rem;

  .pagination {
    margin-left: auto;
    margin-right: auto;
  }
  .card {
    border: 1px solid $divider-color;
    border-radius: 0;
    margin-bottom: 20px;
    .card-topper {
      height: 200px;
      width: 100%;
      background-size: cover;
      background-position: center;
    }
    .card-block {
      padding: 10px;
      a:hover {
        text-decoration: none;
      }
      .card-title {
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
        font-family: 'Raleway', sans-serif;
        a {
          color: $primary-color-text;
          text-decoration: none;
        }
      }
      .published-date {
        font-size: 0.8rem;
        font-weight: 300;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
        a:hover {
          font-weight: 350;
        }
      }
      .card-text {
        font-family: 'Roboto', serif;
        color: $primary-color-text;
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
        font-weight: 300;
        
        &:hover {
          text-decoration: none !important;
          color: black;
        }
      }

      .tags {
        font-size: 0.9rem;
      }
    }
  }
}

.posts.edit, .posts.new {
  .card {
    .card-title {
      margin-bottom: 0;
      font-size: 18px;
    }
    .list-group-item, .card-block {
      background-color: #F7F7F7;
      input[type='text'], textarea {
        font-size: 14px;
      }
      textarea {
        height: 150px;
      }
    }
    .description-card-block {
      height: 250px !important;
    }
  }
}

@media screen and (min_width: 34em) {
  .post.index .card {
    height: 440px;
  }
}

@media screen and (min_width: 48em) {
  .post.index .card {
    height: 420px;
  }
}

@media screen and (min_width: 75em) {
  .post.index .card {
    height: 415px;
  }
}

